{% extends 'base.html'%}

{% block content %}
    <form method = "POST">
	<p>Username<input type="text" name = "username"/></p>
	<p>Password<input type="text" name = "password"/></p>
	<select name="room">
	    <option value="sob_karsob" >Sob Karsob</option>
	    <option value="los_karlos">Los Karlos</option>
	    <option value="zelvicka_julie">Zelvicka Julie</option>
	    <option value="karlik">Karlik</option>
	</select>
	<p><input type = "submit" name = "signup_submit"/></p>
    </form>
{% endblock%}
